<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flexus.androidlab_2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.flexu.androidlabvk.AVkLab"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AVkLab"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.flexu.androidlabvk.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.flexu.androidlabvk.FriendsActivity" />
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity android:name="com.example.flexu.androidlabvk.MainActivity" />
        <activity android:name="com.example.flexu.androidlabvk.FriendsActivityOptimised" />
        <activity android:name="com.example.flexu.androidlabvk.MessageActivity" />
        <activity android:name="com.example.flexu.androidlabvk.NewsActivity"></activity>
    </application>

</manifest>